flows.json
[{"id":"4e75fa4c.b8dfa4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54027a1d.9b1414","type":"inject","z":"4e75fa4c.b8dfa4","name":"","topic":"","payload":"potato","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["8c70f290.56424","bf11c39c.adc1d"]]},{"id":"8c70f290.56424","type":"uibuilder","z":"4e75fa4c.b8dfa4","name":"react_ui","topic":"","url":"react_ui","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":false,"x":380,"y":140,"wires":[[],[]]},{"id":"bf11c39c.adc1d","type":"uibuilder","z":"4e75fa4c.b8dfa4","name":"test","topic":"","url":"test","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"x":370,"y":280,"wires":[[],[]]}]